* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 22px;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
    font-weight: $base-font-weight;
}

h1 {
    font-weight: 700;
    font-size: 3.909rem;
}

h2 {
    font-weight: 700;
    font-size: 2.181rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4545rem;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 1.3636rem;
    margin-bottom: 100px;
    span {
        font-size: 1.6363rem;
        color: $highlight-color;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            background: url('assets/images/highlight-line.svg') no-repeat;
            background-size: 100%;
            width: 100%;
            height: 20px;
        }
    }
}

h5 {
    font-size: 1.090rem;
    font-weight: 700;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.inner_container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $website-brand-color;
}

.text-muted {
    color: $base-grey-color !important;
}

.overflow_hidden {
    overflow: hidden;
}

.transition {
    @include transition(all,
    0.3s);
}

.middle_align {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}

.text_center,
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.shadow {
    @include box-shadow(0,
    30px,
    60px,
    rgba(0, 0, 0, 0.08));
}

.position-relative {
    position: relative;
}

@media screen and (min-width:640px) {
    body {
        max-width: 640px;
        margin: 0 auto;
    }
}