.service {
    &_section {
        padding: 100px 0;
    }

    &_tabs {
        @include flexbox();
        @include justify-content(space-around);
        list-style: none;
        position  : relative;

        &::after {
            content   : '';
            height    : 1px;
            background: $base-grey-color;
            width     : 100%;
            position  : absolute;
            bottom    : -1px;
            left      : 0;
            z-index   : -1;
        }

        .owl-item {
            &.synced {
                .service_tabs_items {
                    color: $website-brand-color;
                    @extend .transition;

                    span {
                        border-bottom: solid 3px $website-brand-color;
                    }
                }
            }
        }

        &_items {
            position      : relative;
            z-index       : 1;
            color         : $base-grey-color;
            cursor        : pointer;
            text-align    : center;
            padding-bottom: 10px;
            @extend .transition;

            span {
                padding: 0 20px 5px 20px;
            }
        }
    }

    &_tabs_wrapper {
        @include flexbox();
        @include align-items(center);
        margin-top: 55px;

        .arrow {
            width     : 100px;
            text-align: center;

            &.left {
                @include scalex(-1);
            }
        }

        .owl-carousel {
            .owl-nav {
                position  : absolute;
                width     : 100%;
                top       : 50%;
                margin-top: -20px;
                @include justify-content(space-between);

                button.owl-prev,
                button.owl-next {
                    width     : auto;
                    height    : auto;
                    background: none;
                }
                button.owl-prev {
                    margin-left: -80px;
                    @include scalex(-1);
                }
                button.owl-next {
                    margin-right: -80px;
                }
            }
        }

        .service_slider {
            width: calc(100% - 200px);
        }

        .service_tabs_content {
            background: #FCF6EF;
            @include border-radius(5px);
            padding: 50px 50px 0 50px;

            h2,
            p {
                margin-bottom: 30px;
            }

            .technologies {
                margin-top: 20px;
                @include flexbox();
                @include flex-wrap(wrap);

                .badge {
                    background: #E9DED1;
                    @include border-radius(5px);
                    padding      : 10px 15px;
                    font-size    : 0.8181rem;
                    margin-right : 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}