.banner {
    .banner-con {
        h1 {
            font-weight: 700;
            font-size: 96px;
            color: $base-white-color;
            span {
                color: $base-font-color1;
            }
        }
    }
}