.resources_section{
    position: relative;
    padding: 100px 0;
  
    .sechead {
      h2 {
        margin-bottom: 10px;
      }
    }
    .resource-wrapper{
        padding:0 160px;
    }
    .resource{
        position: relative;
        width: 100%;
        max-width: 400px;
    }
    .resource-background{
        background: #F3F9F1;
        border-radius: 16px;
        margin: 0;
    }
    .designation{
        background: #C3EAD8;
        border-radius: 0px 0px 10px 10px;
        padding: 11px 80px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 400px;
    }
    figcaption h5{
        font-weight: 700;
        font-size: 40px;
    }
    figcaption p{
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
    }

    .skill-wrapper{
        h6{
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 24px;
        }
        p{
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 46px;
        }
        .list-unstyled{
            padding-left: 0;
            list-style: none;
            margin-left: 4px;
        }
        .skillsets li{
            background: #EAEAEA;
            border-radius: 6px;
            padding: 11px 23px;
            margin: 0 11px 11px 0;
            font-weight: 400;
            font-size: 18px;
        }
        .btn-margin{
            margin-top: 50px;
        }

    }
 
}