header,
.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    @extend .transition;
    padding: 0.875rem 0;
    .header--flex {
        @include flexbox();
        @include align-items(center);
    }
    .top-icons {
        margin-left: auto;
        font-size: 0;
        border: solid 2px #5B5C67;
        @include border-radius(50rem);
        padding: 13px 0;
        &-items {
            color: $website-brand-color;
            font-weight: 600;
            position: relative;
            cursor: pointer;
            padding: 0 24px;
            border-right: solid 2px #000;
            // @extend .middle_align;
            // @include border-radius(100px);
            em {
                font-style: normal;
            }
            &.dropdown {
                margin-right: 0;
                border-right: 0;
            }
        }
    }
    &.fixed-top-menu {
        background: $base-white-color;
        margin-top: 0;
        top: 0;
        @extend .transition;
        padding: 10px 0;
        @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.1));
    }
}

@media screen and (max-width:575.98px) {
    header,
    .header {
        .logo {
            margin-right: 15px;
        }
        .top-icons {
            flex-wrap: nowrap;
            padding: 8px 0;
            &-items {
                padding: 0 5px;
            }
        }
    }
}