$base-font-color   : #fff;
$base-font-color-2 : #353543;
$base-font-family  : 'Fira Code',
monospace;
$base-font-size        : 1rem;
$base-font-weight      : 400;
$base-line-height      : 1.5;
$base-light-color      : #fff;
$base-grey-color       : #BFBFBF;
$base-light-grey       : #f1f1f1;
$website-brand-color   : #EA2866;
$website-brand-color-2 : #0D1C45;
$border-color          : #D6D6D6;
$sucess-color          : #7ADD92;


//HEADER VARIABLES
$header-height: 130px;

// BUTTONS VARIABLES
$primary-button-color: #FF1F57;
$button-font-size    : 1.222rem;
$button-height       : 95px;

//FIELD VARIABLES
$field-height: 50px;