.chart-section {
  padding: 100px 0;

  h4 {
    margin-bottom: 88px;
    font-style: italic;
  }
  .journey-chart {
    display: flex;
    justify-content: center;
  }

  h2 {
    margin-bottom: 20px;
    img {
      transform: translateY(16px);
      display: inline-block;
    }
  }
}
