.icon-skype,
.icon-envelope,
.icon-phone {
    background         : url('assets/images/sprite-icons.png') no-repeat;
    width              : 22px;
    height             : 22px;
    background-position: -90px -9px;
    display            : inline-block;
}

.icon-envelope {
    width              : 24px;
    background-position: -48px -9px;
}

.icon-phone {
    background-position: -9px -9px;
}

.icons {
    background         : url('assets/images/sprite-icons.png') no-repeat;
    width              : 40px;
    height             : 40px;
    background-position: 0 0;
    display            : inline-block;

    &.quick-hiring-icon,
    &.project-stability-icon,
    &.in-house-team-icon,
    &.western-firm-experience-icon {
        width              : 54px;
        height             : 54px;
        background-position: -7px -55px;
    }

    &.project-stability-icon {
        background-position: -80px -55px;
    }

    &.in-house-team-icon {
        background-position: -152px -55px;
    }

    &.western-firm-experience-icon {
        background-position: -225px -55px;
    }
    &.left-arrow-icon {
        width: 65px;
        height: 40px;
        background-position: -8px -129px;
    }
}