$base-font-color : rgba(255, 255, 255, 0.7);
$base-font-color-2 : #fff;
$base-font-family : 'Chakra Petch', sans-serif;

$base-theme-color : #1B1B1B;

$base-font-size : 1rem;
$base-font-weight : 400;
$base-line-height : 1.5;
$website-brand-color : #C2F202;






