@media (max-width: 575.98px) {
    .service_tabs_wrapper .arrow {
        display: none;
    }
    .service_tabs_wrapper .service_slider {
        width: 100%;
    }
    .service_tabs_wrapper {
        margin-top: 25px;
    }
    header,
    .header {
        .top-icons {
            @include flex-wrap(nowrap);

            &-items {
                width: auto;
                height: auto;
                border: none;
                padding: 0;
            }
        }
    }
    .process_section .flex-3 {
        flex: 0 0 auto;
        width: 100%;
    }
    .banner_left .btn-primary::after {
        display: none;
    }
    .clients_wrapper .clients_img {
        max-width: 60%;
    }
}