$base-font-color: #141414;
$base-font-color1: #FFB254;
$base-font-color2: #1E1E1E;
$base-font-gray-color: #9D9CAE;
$base-font-family: 'Rajdhani',
sans-serif;
;
$base-font-size: 1.25rem;
$base-font-weight: 500;
$base-line-height: 1.5;
$website-brand-color: #FFB254;
$base-light-green-color: #C3EAD8;
$base-grey-color: #F3F9F1;
$base-white-color: #ffffff;
$base-black-color: black;
// BUTTONS VARIABLES
$primary-color: #46CFCF;
$button-font-size: 1.375rem;
//FIELD VARIABLES
$field-height: 50px;
// Heading VARIABLES