@media (max-width: 991.98px) {
    header .top-icons, .header .top-icons {
        margin-right: 10px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 40px;
    }
    .sec100, .formsec, .client-bg, .service_section {
        padding: 50px 0;
    }
    .gameplay-sec {
        display: none;
    }
    footer::before {
        height: 515px;
    }
    .d-md-none {
        display: none;
    }
   
    
}

@media (max-width: 767.98px) { 
    header .top-icons, .header .top-icons {
        margin-right: 0px;
    } 
    .overlay.formsec {
        padding: 0;
    }
}