.dropdown {
    &-menu {
        position  : absolute;
        right     : 0;
        top       : 50px;
        background: #fff;
        @include box-shadow(0, 0, 32px, rgba(17, 17, 35, 0.12));
        width      : max-content;
        white-space: nowrap;
        padding    : 16px;
        @include border-radius(15px);
        @extend .transition;
        z-index      : 1;
        // opacity   : 0;
        // visibility: hidden;
    }

    &-item {
        @include flexbox();
        @include align-items(center);
        text-decoration: none;
        color          : $base-font-color;
        padding        : 16px;
        font-size      : 1rem;

        img {
            margin-right: 10px;
        }

        &:hover {
            background: $base-light-green-color;
        }
    }
}

.dropdownoverlay {
    position  : fixed;
    width     : 100%;
    height    : 100%;
    background: transparent;
    left      : 0;
    top       : 0;
    display   : none;

    &.active {
        display: block;
    }
}