@media (max-width: 767.98px) {
    

    header,
    .header {
        .top-icons {
            padding: 8px 0;
            

            &-items {
                padding: 0 15px;
            }
        }
    }

    h2 {
        font-size: 1.575rem;
    }
    h3 {
        font-size: 16px;
    }

    
}