.service {
    background: rgba(246, 228, 199, 0.36);
    @include border-radius(20px);
    padding: 50px 0;
    .owl-item.center {
        .servicebox {
            background-color: $base-font-color1;
            color: $base-white-color;
            a {
                background-color: $base-white-color;
                color: $base-font-color1;
            }
        }
    }
}

.servicebox {
    font-weight: 600;
    font-size: 22px;
    padding: 1.2rem;
    color: $base-font-color2;
    background-color: $base-white-color;
    @include border-radius(16px);
    box-shadow: 0px 8px 24px rgba(253, 110, 78, 0.25);
    p {
        margin: 15px 0;
    }
    a {
        background-color: $base-font-color2;
        color: $base-white-color;
        font-size: 14px;
        padding: 5px 12px;
        @include border-radius(50rem);
        display: inline-flex;
        @include align-items(center);
        line-height: 0;
        img {
            margin-left: 0.2rem;
        }
    }
    i {
        &::before {
            content: '';
            background-image: url(assets/images/sprite-icons.png);
            display: inline-block;
            width: 60px;
            height: 60px;
        }
    }
    i.icon-1 {
        &:before {
            background-position: -217px -112px;
        }
    }
    i.icon-2 {
        &:before {
            background-position: -302px -112px;
        }
    }
    i.icon-3 {
        &:before {
            background-position: -385px -105px;
        }
    }
    i.icon-4 {
        &:before {
            background-position: -470px -109px;
        }
    }
    i.icon-5 {
        &:before {
            background-position: -550px -109px;
        }
    }
    i.icon-6 {
        &:before {
            background-position: -217px -193px;
        }
    }
    i.icon-7 {
        &:before {
            background-position: -300px -185px;
        }
    }
    i.icon-8 {
        &:before {
            background-position: -387px -185px;
        }
    }
    i.icon-9 {
        &:before {
            background-position: -465px -185px;
        }
    }
    i.icon-10 {
        &:before {
            background-position: -548px -188px;
        }
    }
    i.icon-11 {
        &:before {
            background-position: -647px -188px;
        }
    }
}

@media screen and(max-width:420px) {
    .servicebox {
        font-size: 0.8rem;
        padding: 1rem;
    }
}